twig_visual:
    default_copy:
        - admin/base
        - admin/order_print
        - admin/settings.js.twig
        - errors/base
        - errors/404
        - security/base
        - security/login
        - security/password_reset
        - security/register
        - flash_messages
        - catalog/languages_list
    templates:
        - homepage
        - text-content_category
        - text-content_content-page
        - category
        - content-page
        - page_shop_cart
        - page_checkout
        - page_checkout_success
        - page_search_result
        - profile/profile
        - profile/history_orders
        - profile/contacts
        - profile/change_password
    cache_location:
        - var/cache/filecache
    templates_extension: html.twig
    ui:
        field:
            title: Поле контента
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    template: '<root>{% if {{ fieldName }} is defined %}{{ {{ fieldName }} }}{% endif %}</root>'
                    
                fieldName:
                    title: Поле контента
                    type: pageField
                    join: key
                    separator: '.'
                
                key:
                    title: Ключ значения
                    type: text
        
        includeCreate:
            title: Сделать встроенным
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: "{% include 'generic/{{ includeName }}.html.twig' %}"
                    templatePath: "generic/{{ includeName }}"
                    template: '<root/>'
                    
                includeName:
                    title: Название элемента
                    type: text
                    required: true

        include:
            title: Заменить на встраиваемый
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true

                includeName:
                    title: Встраиваемый блок
                    type: include
                    required: true
                    
        menu:
            title: Основное меню
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: "{{ categoriesTree(0, 'menu_dropdown', null, activeCategoriesIds, false) }}"
                    template: '<root/>'
                    templatePath: nav/menu_dropdown
                    caching: true
    
                itemFirst:
                    title: Пункт меню первого уровня
                    type: elementSelect
                    required: true
                    output: '<itemFirst/>'
                    template: |
                        {% for category in children %}
                        <itemFirst class="{%% if category.id in activeCategoriesIds %%}{{ activeClassName }}{%% endif %%}">
                            <a href="{{ catalogPath(category.uri, '', category) }}">{{ category.title }}</a>
                        </itemFirst>
                        {%  endfor %}
    
                containerSecond:
                    title: Контейнер второго уровня
                    type: elementSelect
                    output: "{{ categoriesTree(category.id, 'menu_dropdown_child', category, activeCategoriesIds, false) }}"
                    template: '<containerSecond/>'
                    templatePath: nav/menu_dropdown_child
    
                itemSecond:
                    title: Пункт меню второго уровня
                    type: elementSelect
                    output: '<itemSecond/>'
                    template: |
                        {% for category in children %}
                        <itemSecond class="{%% if category.id in activeCategoriesIds %%}{{ activeClassName }}{%% endif %%}">
                            <a href="{{ catalogPath(category.uri, '', category) }}">{{ category.title }}</a>
                        </itemSecond>
                        {%  endfor %}
    
                containerThird:
                    title: Контейнер третьего уровня
                    type: elementSelect
                    output: "{{ categoriesTree(category.id, 'menu_dropdown_child', category, activeCategoriesIds, false) }}"
                    template: '<containerThird/>'
                    templatePath: nav/menu_dropdown_child_child
    
                itemThird:
                    title: Пункт меню третьего уровня
                    type: elementSelect
                    output: '<itemThird/>'
                    template: |
                        {% for category in children %}
                        <itemThird class="{%% if category.id in activeCategoriesIds %%}{{ activeClassName }}{%% endif %%}">
                            <a href="{{ catalogPath(category.uri, '', category) }}">{{ category.title }}</a>
                        </itemThird>
                        {%  endfor %}

                activeClassName:
                    title: CSS класс активности
                    type: text
                    value: active

        child_menu:
            title: Меню подкатегорий
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    isFunction: true
                    output: "{% include 'nav/child-categories-menu.html.twig' %}"
                    template: '{%% if categoriesMenu | length > 0 %%}<root/>{%% endif %%}'
                    templatePath: nav/child-categories-menu
                    caching: true
                    
                itemFirst:
                    title: Пункт меню первого уровня
                    type: elementSelect
                    required: true
                    output: '<itemFirst/>'
                    template: |
                        {% for category in categoriesMenu %}
                        <itemFirst>
                            <a href="{{ catalogPath(category.uri) }}">{{ category.title }}</a>
                        </itemFirst>
                        {%  endfor %}
                    
        breadcrumbs:
            title: Хлебные крошки
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    output: "{% include 'nav/breadcrumbs.html.twig' %}"
                    template: '<root/>'
                    templatePath: nav/breadcrumbs
                    caching: true

                childItem:
                    title: Элемент
                    type: elementSelect
                    output: '<childItem/>'
                    template: |
                        {% for crumb in breadcrumbs %}
                        <childItem>
                            <a href="{{ catalogPath(crumb.uri) }}">{{ crumb.title }}</a>
                        </childItem>
                        {% endfor %}
                    
        photogallery:
            title: Фотогалерея
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
        
        shoppingCart:
            title: Корзина покупок
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect

        productsList:
            title: Список товаров
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect

        comments:
            title: Отзывы
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
        
        wrapTag:
            title: Создать блок
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: '<root/>'
                    template: '<div><root/></div>'
                    