twig_visual:
    default_copy:
        - admin/base
        - admin/order_print
        - admin/settings.js.twig
        - errors/base
        - errors/404
        - security/base
        - security/login
        - security/password_reset
        - security/register
        - flash_messages
        - catalog/languages_list
    templates:
        - homepage
        - text-content_category
        - text-content_content-page
        - category
        - content-page
        - page_shop_cart
        - page_checkout
        - page_checkout_success
        - page_search_result
        - profile/profile
        - profile/history_orders
        - profile/contacts
        - profile/change_password
    cache_location:
        - var/cache/filecache
    templates_extension: html.twig
    ui:
        field:
            title: Поле контента
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    template: '<root>{% if {{ fieldName }} is defined %}{{ {{ fieldName }} }}{% endif %}</root>'
                    
                fieldName:
                    title: Поле контента
                    type: pageField
                    join: key
                    separator: '.'
                
                key:
                    title: Ключ значения
                    type: text
        
        includeCreate:
            title: Сделать встроенным
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    
                includeName:
                    title: Название элемента
                    type: text
                    required: true

        include:
            title: Заменить на встраиваемый
            configuration:
                updateIncludeSource: false
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true

                includeName:
                    title: Встраиваемый блок
                    type: include
                    required: true
                    
        menu:
            title: Основное меню
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: "{{ categoriesTree(0, 'menu_dropdown', null, activeCategoriesIds, false) }}"
                    template: '<root/>'
                    templatePath: nav/menu_dropdown
                    caching: true
    
                itemFirst:
                    title: Пункт меню первого уровня
                    type: elementSelect
                    isChildItem: true
                    required: true
                    output: '<itemFirst/>'
                    template: |
                        {% for category in children %}
                        <itemFirst class="{%% if category.id in activeCategoriesIds %%}{{ activeClassName }}{%% endif %%}">
                            <a href="{{ catalogPath(category.uri, '', category) }}">{{ category.title }}</a>
                        </itemFirst>
                        {%  endfor %}
    
                containerSecond:
                    title: Контейнер второго уровня
                    type: elementSelect
                    output: "{{ categoriesTree(category.id, 'menu_dropdown_child', category, activeCategoriesIds, false) }}"
                    template: '<containerSecond/>'
                    templatePath: nav/menu_dropdown_child
    
                itemSecond:
                    title: Пункт меню второго уровня
                    type: elementSelect
                    isChildItem: true
                    output: '<itemSecond/>'
                    template: |
                        {% for category in children %}
                        <itemSecond class="{%% if category.id in activeCategoriesIds %%}{{ activeClassName }}{%% endif %%}">
                            <a href="{{ catalogPath(category.uri, '', category) }}">{{ category.title }}</a>
                        </itemSecond>
                        {%  endfor %}
    
                containerThird:
                    title: Контейнер третьего уровня
                    type: elementSelect
                    output: "{{ categoriesTree(category.id, 'menu_dropdown_child', category, activeCategoriesIds, false) }}"
                    template: '<containerThird/>'
                    templatePath: nav/menu_dropdown_child_child
    
                itemThird:
                    title: Пункт меню третьего уровня
                    type: elementSelect
                    isChildItem: true
                    output: '<itemThird/>'
                    template: |
                        {% for category in children %}
                        <itemThird class="{%% if category.id in activeCategoriesIds %%}{{ activeClassName }}{%% endif %%}">
                            <a href="{{ catalogPath(category.uri, '', category) }}">{{ category.title }}</a>
                        </itemThird>
                        {%  endfor %}

                activeClassName:
                    title: CSS класс активности
                    type: text
                    value: active
                    
                deleteLeftSiblings:
                    title: Удалить дочерние предыдущие
                    type: checkbox
                    
                deleteRightSiblings:
                    title: Удалить дочерние следующие
                    type: checkbox

        childMenu:
            title: Меню подкатегорий
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: "{% include 'generic/child-categories-menu.html.twig' %}"
                    template: '{%% if categoriesMenu | length > 0 %%}<root/>{%% endif %%}'
                    templatePath: generic/child-categories-menu
                    caching: true
                    
                itemFirst:
                    title: Пункт меню первого уровня
                    type: elementSelect
                    isChildItem: true
                    required: true
                    output: '<itemFirst/>'
                    template: |
                        {% for category in categoriesMenu %}
                        <itemFirst>
                            <a href="{{ catalogPath(category.uri) }}">{{ category.title }}</a>
                        </itemFirst>
                        {%  endfor %}
                        
                deleteLeftSiblings:
                    title: Удалить дочерние предыдущие
                    type: checkbox

                deleteRightSiblings:
                    title: Удалить дочерние следующие
                    type: checkbox
                    
        breadcrumbs:
            title: Хлебные крошки
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    output: "{% include 'generic/breadcrumbs.html.twig' %}"
                    template: '<root/>'
                    templatePath: generic/breadcrumbs
                    caching: true

                childItem:
                    title: Элемент
                    type: elementSelect
                    isChildItem: true
                    output: '<childItem/>'
                    template: |
                        {% for crumb in breadcrumbs %}
                        <childItem>
                            <a href="{{ catalogPath(crumb.uri) }}">{{ crumb.title }}</a>
                        </childItem>
                        {% endfor %}

                deleteLeftSiblings:
                    title: Удалить дочерние предыдущие
                    type: checkbox

                deleteRightSiblings:
                    title: Удалить дочерние следующие
                    type: checkbox

        catalogProducts:
            title: Товары каталога
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    
                childItem:
                    title: Блок товара
                    type: elementSelect
                    isChildItem: true
                    template: |
                        {% for item in items %}
                        <childItem/>
                        {% endfor %}

                childItemTitle:
                    title: Название товара
                    type: elementSelect
                    template: '<childItemTitle href="{{ catalogPath(currentUri, item.name) }}">{{ item.title }}</childItemTitle>'

                childItemPrice:
                    title: Цена товара
                    type: elementSelect
                    output: '<childItemPrice/>'
                    template: |
                        <childItemPrice class="shk-price">{{ item.price }}</childItemPrice>
                        <span class="shk-currency">{{ currency }}</span>
                        
                deleteLeftSiblings:
                    title: Удалить дочерние предыдущие
                    type: checkbox

                deleteRightSiblings:
                    title: Удалить дочерние следующие
                    type: checkbox
        
        photogallery:
            title: Фотогалерея
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
        
        shoppingCart:
            title: Корзина покупок
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: "{{ shopCart('shop_cart', 'shop') }}"
                    template: '<root/>'
                    templatePath: shop_cart/shop_cart
                    caching: true
                    
                totalCount:
                    title: Общее количество
                    type: elementSelect
                    template: '<totalCount>{{ countTotal }}</totalCount>'
                    
                totalPrice:
                    title: Общяя цена
                    type: elementSelect
                    output: '<totalPrice/>'
                    template: |
                        <totalPrice class="shk-price">
                            {{ priceTotal | price }} {{ currencySelected }}
                        </totalPrice>
                        
                linkCartEdit:
                    title: Ссылка на большую корзину
                    type: elementSelect
                    template: |
                        <linkCartEdit href="{{ pathLocalized('shop_cart_edit') }}"/>
                        
                linkCheckout:
                    title: Ссылка на оформление заказа
                    type: elementSelect
                    template: |
                        <linkCheckout href="{{ pathLocalized('page_checkout') }}"/>
                    
                childItem:
                    title: Элемент товара
                    type: elementSelect
                    isChildItem: true
                    output: '<childItem/>'
                    template: |
                        {% for item in items %}
                        <childItem>
                            <a href="/{{ item.uri }}">{{ item.title }}</a>
                        </childItem>
                        {% endfor %}
                        
                deleteLeftSiblings:
                    title: Удалить дочерние предыдущие
                    type: checkbox

                deleteRightSiblings:
                    title: Удалить дочерние следующие
                    type: checkbox
                    
        addToCart:
            title: Добавить в корзину
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    output: '<root/>'
                    template: |
                        <form id="shk-form" action="{{ pathLocalized('shop_cart_action') }}" method="post">
                            <input type="hidden" name="item_id" value="{{ currentPage.id }}">
                            <input type="hidden" name="category_id" value="{{ currentPage.parentId }}">
                            <input type="hidden" name="type" value="shop">
                            <root/>
                        </form>
                    caching: true
                    
                buttonAddToCart:
                    title: Кнопка
                    type: elementSelect
                    template: '<buttonAddToCart type="submit"/>'
                    
                inputCount:
                    title: Поле кол-во
                    type: elementSelect
                    template: '<inputCount type="number" value="1" min="1" step="1" name="count"/>'

        productsList:
            title: Список товаров
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect

        comments:
            title: Отзывы
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect

        editMargin:
            title: Редактировать внешние отступы
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                marginTop:
                    title: Отступ сверху
                    type: text
                    styleName: 'margin-top'
                marginRight:
                    title: Отступ справа
                    type: text
                    styleName: 'margin-right'
                marginBottom:
                    title: Отступ снизу
                    type: text
                    styleName: 'margin-bottom'
                marginLeft:
                    title: Отступ слева
                    type: text
                    styleName: 'margin-left'

        editPadding:
            title: Редактировать внутренние отступы
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                paddingTop:
                    title: Отступ сверху
                    type: text
                    styleName: 'padding-top'
                paddingRight:
                    title: Отступ справа
                    type: text
                    styleName: 'padding-right'
                paddingBottom:
                    title: Отступ снизу
                    type: text
                    styleName: 'padding-bottom'
                paddingLeft:
                    title: Отступ слева
                    type: text
                    styleName: 'padding-left'
            
        wrapTag:
            title: Создать блок
            configuration:
                saveBackupCopy: true
            components:
                root:
                    title: Корневой элемент
                    type: elementSelect
                    required: true
                    output: '<root/>'
                    template: '<div><root/></div>'
                    