
.twv-text-center { text-align: center; }
.twv-small { font-size: 85%; }
.twv-selected { box-shadow: 0 0 0 2px #007bff; cursor: pointer; }
.twv-selected-success { box-shadow: 0 0 0 2px #28a745; }
.twv-selected-element { z-index: 1701 !important; box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05); }
.twv-info { position: fixed; left: 0; bottom: 0; max-width: 90%; z-index: 1888; padding: 7px 15px; color: #fff; background-color: rgba(0, 0, 0, .5); border-top-right-radius: 6px; border-top: 1px solid rgba(0,0,0,0.3); border-right: 1px solid rgba(0,0,0,0.3); box-shadow: 0 0 15px rgba(0,0,0,0.2); pointer-events: none; }
.twv-bg-gray { background-color: rgba(0,0,0,0.2); }
.twv-text-overflow { width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.twv-back-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.6); -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); z-index: 1700; }
.twv-flex-fill { -ms-flex: 1 1 auto; flex: 1 1 auto; }
.twv-text-success { color: #28a745; }
.twv-display-block { display: block; }
.twv-display-inline { display: inline; }
.twv-float-right { float: right; }
.twv-nowrap { white-space: nowrap; }

/* scrollbar */
.twig-visual-container * { scrollbar-width: auto; scrollbar-color: #696969 #fff; }
.twig-visual-container *::-webkit-scrollbar { width: 10px; }
.twig-visual-container *::-webkit-scrollbar-track { background: #fff; }
.twig-visual-container *::-webkit-scrollbar-thumb { background-color: #696969; border-radius: 5px; border: 2px solid #fff; }

/* panel */
.twig-visual-container { position: fixed; width: 325px; height: 100%; background-color: #fff; border-left: 1px solid #ddd; z-index: 1777; box-shadow: 0 0 15px rgba(0,0,0,0.2); transition: right 400ms, left 400ms; box-sizing: border-box; }
.twig-visual-container * { box-sizing: border-box; }
.twv-inner-wrapper { position: absolute; left: 0; top: 220px; width: 100%; padding: 0 0 220px 0; height: 100%; }
.twv-inner { height: 100%; overflow-x: hidden; overflow-y: auto; }
.twv-panel-header { padding: 15px; margin-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, .125); }
.twv-panel-right { right: 0; top: 0; }
.twv-panel-left { left: 0; top: 0; }
.twv-panel-hidden { box-shadow: none; }
.twv-panel-left .twv-panel-header { text-align: right; }
.twv-panel-left.twv-panel-hidden { left: -325px; }
.twv-panel-right.twv-panel-hidden { right: -325px; }
.twv-panel-left.twv-panel-hidden .twv-button-panel-right { position: fixed; left: 15px; top: 15px; }
.twv-panel-right.twv-panel-hidden .twv-button-panel-left { position: fixed; right: 15px; top: 15px; }
.twv-panel-right .twv-panel-header-buttons { float: right; }
.twv-panel-left .twv-panel-header-buttons { float: left; }

/* buttons */
.twv-btn { display: inline-block; font-weight: 400; color: #212529; text-align: center; vertical-align: middle; cursor: pointer; user-select: none; background-color: #fff; border: 1px solid #6c757d; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: background-color 500ms; box-shadow: 2px 2px 1px rgba(0,0,0,.1); }
.twv-btn:hover { background-color: #eee; }
.twv-btn-block { display: block; width: 100%; }
.twv-btn-sm { padding: 0.25rem 0.5rem; font-size: 0.875rem; line-height: 1.5; border-radius: 0.2rem; }
.twv-btn-xs { padding: 0.05rem 0.15rem; font-size: 0.675rem; line-height: 1.3; border-radius: 0.2rem; }
.twv-btn:disabled { background-color: #f1f1f1 !important; color: #c1c1c1 !important; border-color: #c1c1c1 !important; cursor: not-allowed; }
.twv-btn > * { pointer-events: none; }

.twv-btn-primary { color: #fff; background-color: #28a745; border-color: #28a745; }
.twv-btn-primary:hover { color: #fff; background-color: #218838; border-color: #1e7e34; }

/* form-control */
.twv-form-control { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #eee; box-shadow: inset 2px 2px 1px rgba(0,0,0,0.1); background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
.twv-form-control:not(textarea) { height: calc(1.5em + 0.75rem + 2px); }
.twv-form-control:focus { color: #495057; border-color: #80bdff; outline: 0; }

/* input-group */
.twv-input-group { position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: stretch; align-items: stretch; width: 100%; }
.twv-input-group-prepend,
.twv-input-group-append { display: -ms-flexbox; display: flex; }
.twv-input-group-text { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 0.375rem 0.75rem; margin-bottom: 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; text-align: center; white-space: nowrap; border: 1px solid #ced4da; border-radius: 0.25rem; }
.twv-input-group > .twv-input-group-prepend > .twv-input-group-text,
.twv-input-group > .twv-input-group-text { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.twv-input-group > .twv-input-group-append > .twv-btn { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.twv-input-group-append .twv-btn, .twv-input-group-prepend .twv-btn { position: relative; }

/* alert */
.twv-alert { font-size: 14px; position: relative; padding: 0.75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: 0.25rem; }
.twv-alert.twv-alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }
.twv-alert.twv-alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }

/* select */
.twv-custom-select { display: inline-block; width: 100%; height: calc(1.5em + 0.75rem + 2px); padding: 0.375rem 1.75rem 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; vertical-align: middle; background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px; border: 1px solid #ced4da; border-radius: 0.25rem; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: 2px 2px 1px rgba(0,0,0,.1); }

/* twv-block-active-status */
.twv-block-active-status { position: relative; }
.twv-block-active-status-active {  }
.twv-block-active-status .twv-block-active-status-active-content { display: none; }
.twv-block-active-status-active .twv-block-active-status-active-content:not(.twv-btn) { display: block; }
.twv-block-active-status-active .twv-block-active-status-active-content.twv-btn { display: inline-block; }
.twv-block-active-status-active .twv-block-active-status-inactive-content { display: none; }

/* loading */
.twv-loading:before { content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(255,255,255,0.5); z-index: 1; }
.twv-loading:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 40px; height: 40px; margin: -20px 0 0 -20px; z-index: 510; opacity: 0.7; border: 5px solid #576375; border-radius: 50%; border-top-color: #f3f3f3; -webkit-animation: spin 1000ms linear infinite; animation: spin 1000ms linear infinite; }
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* margins */
.twv-m-1 { margin: 0.25rem !important; }
.twv-mt-1, .twv-my-1 { margin-top: 0.25rem !important; }
.twv-mr-1, .twv-mx-1 { margin-right: 0.25rem !important; }
.twv-mb-1, .twv-my-1 { margin-bottom: 0.25rem !important; }
.twv-ml-1, .twv-mx-1 { margin-left: 0.25rem !important; }
.twv-m-2 { margin: 0.5rem !important; }
.twv-mt-2, .twv-my-2 { margin-top: 0.5rem !important; }
.twv-mr-2, .twv-mx-2 { margin-right: 0.5rem !important; }
.twv-mb-2, .twv-my-2 { margin-bottom: 0.5rem !important; }
.twv-ml-2, .twv-mx-2 { margin-left: 0.5rem !important; }
.twv-m-3 { margin: 1rem !important; }
.twv-mt-3, .twv-my-3 { margin-top: 1rem !important; }
.twv-mr-3, .twv-mx-3 { margin-right: 1rem !important; }
.twv-mb-3, .twv-my-3 { margin-bottom: 1rem !important; }
.twv-ml-3, .twv-mx-3 { margin-left: 1rem !important; }

/* padding */
.twv-p-0 { padding: 0 !important; }
.twv-pt-0, .twv-py-0 { padding-top: 0 !important; }
.twv-pr-0, .twv-px-0 { padding-right: 0 !important; }
.twv-pb-0, .twv-py-0 { padding-bottom: 0 !important; }
.twv-pl-0, .twv-px-0 { padding-left: 0 !important; }
.twv-p-1 { padding: 0.25rem !important; }
.twv-pt-1, .twv-py-1 { padding-top: 0.25rem !important; }
.twv-pr-1, .twv-px-1 { padding-right: 0.25rem !important; }
.twv-pb-1, .twv-py-1 { padding-bottom: 0.25rem !important; }
.twv-pl-1, .twv-px-1 { padding-left: 0.25rem !important; }
.twv-p-2 { padding: 0.5rem !important; }
.twv-pt-2, .twv-py-2 { padding-top: 0.5rem !important; }
.twv-pr-2, .twv-px-2 { padding-right: 0.5rem !important; }
.twv-pb-2, .twv-py-2 { padding-bottom: 0.5rem !important; }
.twv-pl-2, .twv-px-2 { padding-left: 0.5rem !important; }
.twv-p-3 { padding: 1rem !important; }
.twv-pt-3, .twv-py-3 { padding-top: 1rem !important; }
.twv-pr-3, .twv-px-3 { padding-right: 1rem !important; }
.twv-pb-3, .twv-py-3 { padding-bottom: 1rem !important; }
.twv-pl-3, .twv-px-3 { padding-left: 1rem !important; }

