@font-face {
  font-family: 'twv-icomoon';
  src:
    url('fonts/twv-icomoon.ttf?w2duq7') format('truetype'),
    url('fonts/twv-icomoon.woff?w2duq7') format('woff'),
    url('fonts/twv-icomoon.svg?w2duq7#twv-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="twv-icon-"], [class*=" twv-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'twv-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twv-icon-move:before {
  content: "\e928";
}
.twv-icon-error:before {
  content: "\e911";
}
.twv-icon-warningreport_problem:before {
  content: "\e912";
}
.twv-icon-add:before {
  content: "\e913";
}
.twv-icon-createmode_editedit:before {
  content: "\e914";
}
.twv-icon-linkinsert_link:before {
  content: "\e927";
}
.twv-icon-redo:before {
  content: "\e915";
}
.twv-icon-remove:before {
  content: "\e916";
}
.twv-icon-undo:before {
  content: "\e917";
}
.twv-icon-gps_fixedmy_location:before {
  content: "\e918";
}
.twv-icon-border_color:before {
  content: "\e919";
}
.twv-icon-format_list_bulleted:before {
  content: "\e91a";
}
.twv-icon-insert_drive_file:before {
  content: "\e91b";
}
.twv-icon-insert_photoimagephoto:before {
  content: "\e91c";
}
.twv-icon-folder:before {
  content: "\e91d";
}
.twv-icon-computerlaptop:before {
  content: "\e91e";
}
.twv-icon-desktop_windows:before {
  content: "\e91f";
}
.twv-icon-tablet_mac:before {
  content: "\e920";
}
.twv-icon-colorize:before {
  content: "\e921";
}
.twv-icon-filter_none:before {
  content: "\e922";
}
.twv-icon-photo_size_select_actual:before {
  content: "\e923";
}
.twv-icon-help:before {
  content: "\e924";
}
.twv-icon-help_outline:before {
  content: "\e925";
}
.twv-icon-delete_outline:before {
  content: "\e926";
}
.twv-icon-clearclose:before {
  content: "\e900";
}
.twv-icon-select_all:before {
  content: "\e901";
}
.twv-icon-center_focus_strong:before {
  content: "\e902";
}
.twv-icon-center_focus_weak:before {
  content: "\e903";
}
.twv-icon-view_compact:before {
  content: "\e904";
}
.twv-icon-photo_size_select_small:before {
  content: "\e905";
}
.twv-icon-layers:before {
  content: "\e906";
}
.twv-icon-layers_clear:before {
  content: "\e907";
}
.twv-icon-arrow_back:before {
  content: "\e908";
}
.twv-icon-arrow_forward:before {
  content: "\e909";
}
.twv-icon-build:before {
  content: "\e90a";
}
.twv-icon-cached:before {
  content: "\e90b";
}
.twv-icon-code:before {
  content: "\e90c";
}
.twv-icon-done:before {
  content: "\e90d";
}
.twv-icon-settings:before {
  content: "\e90e";
}
.twv-icon-view_in_ar:before {
  content: "\e90f";
}
.twv-icon-fit_screen:before {
  content: "\e910";
}
