
.twv-small { font-size: 85%; }
.twv-selected { box-shadow: 0 0 0 2px #007bff; cursor: pointer; }
.twv-selected-success { box-shadow: 0 0 0 2px #28a745; }
.twv-selected-element { z-index: 1701 !important; box-shadow: 0 0 15px rgba(255, 255, 255, 0.9); }
.twv-info { position: fixed; left: 0; bottom: 0; max-width: 90%; z-index: 1888; padding: 7px 15px; color: #fff; background-color: rgba(0, 0, 0, .5); border-top-right-radius: 6px; border-top: 1px solid rgba(0,0,0,0.3); border-right: 1px solid rgba(0,0,0,0.3); box-shadow: 0 0 15px rgba(0,0,0,0.2); pointer-events: none; }
.twv-bg-gray { background-color: rgba(0,0,0,0.2); }
.twv-text-overflow { width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.twv-back-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.3); -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); z-index: 1700; }
.twv-flex-fill { -ms-flex: 1 1 auto; flex: 1 1 auto; }
.twv-text-success { color: #28a745; }

/* panel */
.twig-visual-container { position: fixed; width: 300px; height: 100%; background-color: #fff; border-left: 1px solid #ddd; z-index: 1777; padding: 15px; box-shadow: 0 0 15px rgba(0,0,0,0.2); transition: right 400ms, left 400ms; box-sizing: border-box; }
.twig-visual-container * { box-sizing: border-box; }
.twv-panel-header { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, .125); }
.twv-panel-right { right: 0; top: 0; }
.twv-panel-left { left: 0; top: 0; }
.twv-panel-hidden { box-shadow: none; }
.twv-panel-left .twv-panel-header { text-align: right; }
.twv-panel-left.twv-panel-hidden { left: -300px; }
.twv-panel-right.twv-panel-hidden { right: -300px; }
.twv-panel-left.twv-panel-hidden .twv-button-panel-right { position: fixed; left: 15px; top: 15px; }
.twv-panel-right.twv-panel-hidden .twv-button-panel-left { position: fixed; right: 15px; top: 15px; }

/* buttons */
.twv-btn { display: inline-block; font-weight: 400; color: #212529; text-align: center; vertical-align: middle; cursor: pointer; user-select: none; background-color: #fff; border: 1px solid #6c757d; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: background-color 500ms; }
.twv-btn:hover { background-color: #eee; }
.twv-btn-block { display: block; width: 100%; }
.twv-btn-sm { padding: 0.25rem 0.5rem; font-size: 0.875rem; line-height: 1.5; border-radius: 0.2rem; }
.twv-btn-xs { padding: 0.05rem 0.15rem; font-size: 0.675rem; line-height: 1.3; border-radius: 0.2rem; }
.twv-btn:disabled { background-color: #f1f1f1 !important; color: #c1c1c1 !important; border-color: #c1c1c1 !important; cursor: not-allowed; }

.twv-btn-primary { color: #fff; background-color: #28a745; border-color: #28a745; }
.twv-btn-primary:hover { color: #fff; background-color: #218838; border-color: #1e7e34; }

/* input-group */
.twv-input-group { position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: stretch; align-items: stretch; width: 100%; }
.twv-input-group-prepend,
.twv-input-group-append { display: -ms-flexbox; display: flex; }
.twv-input-group-text { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 0.375rem 0.75rem; margin-bottom: 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; text-align: center; white-space: nowrap; border: 1px solid #ced4da; border-radius: 0.25rem; }
.twv-input-group > .twv-input-group-prepend > .twv-input-group-text,
.twv-input-group > .twv-input-group-text { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.twv-input-group > .twv-input-group-append > .twv-btn { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.twv-input-group-append .twv-btn, .twv-input-group-prepend .twv-btn { position: relative; z-index: 2; }

/* select */
.twv-custom-select { display: inline-block; width: 100%; height: calc(1.5em + 0.75rem + 2px); padding: 0.375rem 1.75rem 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; vertical-align: middle; background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px; border: 1px solid #ced4da; border-radius: 0.25rem; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/* twv-block-active-status */
.twv-block-active-status { position: relative; }
.twv-block-active-status-active {  }
.twv-block-active-status .twv-block-active-status-active-content { display: none; }
.twv-block-active-status-active .twv-block-active-status-active-content:not(.twv-btn) { display: block; }
.twv-block-active-status-active .twv-block-active-status-active-content.twv-btn { display: inline-block; }
.twv-block-active-status-active .twv-block-active-status-inactive-content { display: none; }

/* margins */
.twv-m-1 { margin: 0.25rem !important; }
.twv-mt-1, .twv-my-1 { margin-top: 0.25rem !important; }
.twv-mr-1, .twv-mx-1 { margin-right: 0.25rem !important; }
.twv-mb-1, .twv-my-1 { margin-bottom: 0.25rem !important; }
.twv-ml-1, .twv-mx-1 { margin-left: 0.25rem !important; }
.twv-m-2 { margin: 0.5rem !important; }
.twv-mt-2, .twv-my-2 { margin-top: 0.5rem !important; }
.twv-mr-2, .twv-mx-2 { margin-right: 0.5rem !important; }
.twv-mb-2, .twv-my-2 { margin-bottom: 0.5rem !important; }
.twv-ml-2, .twv-mx-2 { margin-left: 0.5rem !important; }
.twv-m-3 { margin: 1rem !important; }
.twv-mt-3, .twv-my-3 { margin-top: 1rem !important; }
.twv-mr-3, .twv-mx-3 { margin-right: 1rem !important; }
.twv-mb-3, .twv-my-3 { margin-bottom: 1rem !important; }
.twv-ml-3, .twv-mx-3 { margin-left: 1rem !important; }

/* padding */
.twv-p-0 { padding: 0 !important; }
.twv-pt-0, .twv-py-0 { padding-top: 0 !important; }
.twv-pr-0, .twv-px-0 { padding-right: 0 !important; }
.twv-pb-0, .twv-py-0 { padding-bottom: 0 !important; }
.twv-pl-0, .twv-px-0 { padding-left: 0 !important; }
.twv-p-1 { padding: 0.25rem !important; }
.twv-pt-1, .twv-py-1 { padding-top: 0.25rem !important; }
.twv-pr-1, .twv-px-1 { padding-right: 0.25rem !important; }
.twv-pb-1, .twv-py-1 { padding-bottom: 0.25rem !important; }
.twv-pl-1, .twv-px-1 { padding-left: 0.25rem !important; }
.twv-p-2 { padding: 0.5rem !important; }
.twv-pt-2, .twv-py-2 { padding-top: 0.5rem !important; }
.twv-pr-2, .twv-px-2 { padding-right: 0.5rem !important; }
.twv-pb-2, .twv-py-2 { padding-bottom: 0.5rem !important; }
.twv-pl-2, .twv-px-2 { padding-left: 0.5rem !important; }
.twv-p-3 { padding: 1rem !important; }
.twv-pt-3, .twv-py-3 { padding-top: 1rem !important; }
.twv-pr-3, .twv-px-3 { padding-right: 1rem !important; }
.twv-pb-3, .twv-py-3 { padding-bottom: 1rem !important; }
.twv-pl-3, .twv-px-3 { padding-left: 1rem !important; }

