

.twig-visual-container { position: fixed; right: 0; top: 0; width: 300px; height: 100%; background-color: #fff; border-left: 1px solid #ddd; z-index: 777; padding: 10px; }
.twig-visual-selected { box-shadow: 0 0 0 2px #007bff; cursor: pointer; }

